<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Dashboard</title>
    <meta name="description" content="A responsive bootstrap 4 admin dashboard template by hencework" />
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="vendors/vectormap/jquery-jvectormap-2.0.3.css" rel="stylesheet" type="text/css" />
    <link href="vendors/jquery-toggles/css/toggles.css" rel="stylesheet" type="text/css">
    <link href="vendors/jquery-toggles/css/themes/toggles-light.css" rel="stylesheet" type="text/css">
    <link href="vendors/jquery-toast-plugin/dist/jquery.toast.min.css" rel="stylesheet" type="text/css">
    <link href="dist/css/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
    <div class="preloader-it">
        <div class="loader-pendulums"></div>
    </div>

    <div class="hk-wrapper hk-vertical-nav">
        <nav class="navbar navbar-expand-xl navbar-dark fixed-top hk-navbar">
            <a id="navbar_toggle_btn" class="navbar-toggle-btn nav-link-hover" href="javascript:void(0);"><span
                    class="feather-icon"><i data-feather="menu"></i></span></a>
            <ul class="navbar-nav hk-navbar-content">
                <li class="nav-item">
                    <a id="navbar_search_btn" class="nav-link nav-link-hover" href="javascript:void(0);"><span
                            class="feather-icon"><i data-feather="search"></i></span></a>
                </li>
                <li class="nav-item dropdown dropdown-authentication">
                    <a class="nav-link dropdown-toggle no-caret" href="#" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <div class="media">
                            <div class="media-img-wrap">
                                <div class="avatar">
                                    <img src="dist/img/avatar12.jpg" alt="user" class="avatar-img rounded-circle">
                                </div>
                                <span class="badge badge-success badge-indicator"></span>
                            </div>
                            <div class="media-body">
                                <span>ADMIN<i class="zmdi zmdi-chevron-down"></i></span>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" data-dropdown-in="flipInX"
                        data-dropdown-out="flipOutX">
                        <a class="dropdown-item" href="profile.html"><i
                                class="dropdown-icon zmdi zmdi-account"></i><span>Profile</span></a>
                        <div class="dropdown-divider"></div>
                        <form action="/authentication/logout" method="GET"><a class="dropdown-item"><i
                                    class="dropdown-icon zmdi zmdi-power"></i><span><button
                                        type="submit">Logout</button></span></a></form>
                    </div>
                </li>
            </ul>
        </nav>
        <form role="search" class="navbar-search">
            <div class="position-relative">
                <a href="javascript:void(0);" class="navbar-search-icon"><span class="feather-icon"><i
                            data-feather="search"></i></span></a>
                <input type="text" name="example-input1-group2" class="form-control" placeholder="Type here to Search">
                <a id="navbar_search_close" class="navbar-search-close" href="#"><span class="feather-icon"><i
                            data-feather="x"></i></span></a>
            </div>
        </form>

        <nav class="hk-nav hk-nav-light">
            <a href="javascript:void(0);" id="hk_nav_close" class="hk-nav-close"><span class="feather-icon"><i
                        data-feather="x"></i></span></a>
            <div class="nicescroll-bar">
                <div class="navbar-nav-wrap">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-item active">
                            <a class="nav-link" href="/dashboard">
                                <span class="feather-icon"><i data-feather="activity"></i></span>
                                <span class="nav-link-text">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-with-badge" href="/sales">
                                <span class="feather-icon"><i data-feather="package"></i></span>
                                <span class="nav-link-text">Sales</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/purchases">
                                <span class="feather-icon"><i data-feather="zap"></i></span>
                                <span class="nav-link-text">Purchases</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/invoicesDatabase">
                                <span class="feather-icon"><i data-feather="zap"></i></span>
                                <span class="nav-link-text">Invoices</span>
                            </a>
                        </li>
                    </ul>
                    <hr class="nav-separator">
                </div>
            </div>
        </nav>
        <div id="hk_nav_backdrop" class="hk-nav-backdrop"></div>

        <div class="hk-pg-wrapper">
            <div class="container mt-xl-50 mt-sm-30 mt-15">
                <div class="hk-pg-header align-items-top">
                    <div>
                        <h2 class="hk-pg-title font-weight-600 mb-10"><%= companyName %> - Fiscal Year: <%= date.FiscalYear %></h2>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hk-row">
                                <div class="col-sm-12">
                                    <div class="card-group hk-dash-type-2">
                                        <div class="card card-sm">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between mb-5">
                                                    <div>
                                                        <span
                                                            class="d-block font-15 text-dark font-weight-500">Clients</span>
                                                    </div>
                                                </div>
                                                <div>
                                                    <span class="d-block display-4 text-dark mb-5"><span
                                                            class="counter-anim"><%= numberOfClients %></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card card-sm" style="width: 700px">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between mb-5">
                                                    <div>
                                                        <span class="d-block font-15 text-dark font-weight-500">Total
                                                            sales</span>
                                                    </div>
                                                </div>
                                                <div>
                                                    <span class="d-block display-4 text-dark mb-5"><span
                                                            class="counter-anim"><%= numberOfSales %></span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card card-sm">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between mb-5">
                                                    <div>
                                                        <span class="d-block font-15 text-dark font-weight-500">Total
                                                            Purchases</span>
                                                    </div>
                                                </div>
                                                <div>
                                                    <span class="d-block display-4 text-dark mb-5"><span
                                                            class="counter-anim"><%= numberOfPurchases %></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card card-sm">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between mb-5">
                                                    <div>
                                                        <span
                                                            class="d-block font-15 text-dark font-weight-500">Suppliers</span>
                                                    </div>
                                                </div>
                                                <div>
                                                    <span class="d-block display-4 text-dark mb-5"><span
                                                            class="counter-anim"><%= numberOfSuppliers %></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hk-row">
                                <div class="col-sm-12">
                                    <div class="card-group hk-dash-type-2">
                                        <div class="card card-sm">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between mb-5">
                                                    <div>
                                                        <span class="d-block font-15 text-dark font-weight-500">Total
                                                            Sold (without tax)
                                                            (€)</span>
                                                    </div>
                                                </div>
                                                <div>
                                                    <span class="d-block display-4 text-dark mb-5"><span
                                                            class="counter-anim"><%= totalCredit %></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card card-sm" style="width: 625px">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between mb-5">
                                                    <div>
                                                        <span class="d-block font-15 text-dark font-weight-500">Total
                                                            Purchases (with tax) (€)</span>
                                                    </div>
                                                </div>
                                                <div>
                                                    <span class="d-block display-4 text-dark mb-5"><span
                                                            class="counter-anim"> <%= totalPurchased %> </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card card-sm">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between mb-5">
                                                    <div>
                                                        <span class="d-block font-15 text-dark font-weight-500">Profit
                                                            (€)</span>
                                                    </div>
                                                </div>
                                                <div>
                                                    <span class="d-block display-4 text-dark mb-5"><span
                                                            class="counter-anim"><%= totalCredit - totalPurchased %>
                                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="chartContainer" style="padding-left: 65px; height: 370px; width: 80%;"></div>
                <div id="chart_div" style="padding-top: 10px; width: 90%; height: 400px; padding-left: 0%;"></div>
                <div id="chart_div2" style="height:400px; width: 90%;"></div>
                <div style="padding-top: 5%;">
                    <h4>Client List: (Click for details)</h3>
                        <% for(var i=1; i< costumers.length;i++) { %>
                        <h5 style="padding-top: 2% "><a
                                href="/clientDetail/<%= costumers[i].CustomerID %>"><%= costumers[i].CompanyName %>
                                </a</h3> <% } %> </div> <div style="padding-top: 5%;">
                                <h4>Suppliers List: (Click for details)</h3>
                                    <% for(var i=0; i< suppliers.length;i++) { %>
                                    <h5 style="padding-top: 2% "><a
                                            href="/supplierDetail/<%= suppliers[i].SupplierID %>"><%= suppliers[i].CompanyName %>
                                            </a></h3> <% } %> </div> <div style="padding-top: 5%;">
                                            <h4>Products List:</h3>
                                                <% for(var i=0; i< products.length;i++) { %>
                                                <h5 style="padding-top: 2% ">
                                                    <%= products[i].ProductCode %> -
                                                    <%= products[i].ProductDescription %>
                                                    </h3> <% } %>
                </div>
                <div class="hk-footer-wrap container">
                    <footer class="footer">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <p>CarStore © 2019</p>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
        <script type="text/javascript">

            google.charts.load('current', { packages: ['corechart', 'line'] });
            google.charts.setOnLoadCallback(drawBasic);

            function drawBasic() {

                var data = new google.visualization.DataTable();
                data.addColumn('number', 'X');
                data.addColumn('number', 'EUR');

                data.addRows([
                    [1, parseFloat('<%= monthTotalArray[0] %>')],
                    [2, parseFloat('<%= monthTotalArray[1] %>')],
                    [3, parseFloat('<%= monthTotalArray[2] %>')],
                    [4, parseFloat('<%= monthTotalArray[3] %>')],
                    [5, parseFloat('<%= monthTotalArray[4] %>')],
                    [6, parseFloat('<%= monthTotalArray[5] %>')],
                    [7, parseFloat('<%= monthTotalArray[6] %>')],
                    [8, parseFloat('<%= monthTotalArray[7] %>')],
                    [9, parseFloat('<%= monthTotalArray[8] %>')],
                    [10, parseFloat('<%= monthTotalArray[9] %>')],
                    [11, parseFloat('<%= monthTotalArray[10] %>')],
                    [12, parseFloat('<%= monthTotalArray[11] %>')]
                ]);

                var options = {
                    title: 'Value of sales per month with tax',
                    hAxis: {
                        title: 'Month'
                    },
                    vAxis: {
                        title: 'Value in EUR'
                    }
                };

                var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

                chart.draw(data, options);
            }
        </script>

        <script type="text/javascript">
            window.onload = function () {

                var chart = new CanvasJS.Chart("chartContainer", {
                    theme: "light1",
                    animationEnabled: false,
                    title: {
                        text: "Number of sales per month"
                    },
                    data: [
                        {
                            type: "column",
                            dataPoints: [
                                { label: "January", y: parseInt('<%= monthArray[0] %>') },
                                { label: "February", y: parseInt('<%= monthArray[1] %>') },
                                { label: "March", y: parseInt('<%= monthArray[2] %>') },
                                { label: "April", y: parseInt('<%= monthArray[3] %>') },
                                { label: "May", y: parseInt('<%= monthArray[4]%>') },
                                { label: "June", y: parseInt('<%= monthArray[5] %>') },
                                { label: "July", y: parseInt('<%= monthArray[6] %>') },
                                { label: "August", y: parseInt('<%= monthArray[7] %>') },
                                { label: "September", y: parseInt('<%= monthArray[8] %>') },
                                { label: "October", y: parseInt('<%= monthArray[9] %>') },
                                { label: "November", y: parseInt('<%= monthArray[10] %>') },
                                { label: "December", y: parseInt('<%= monthArray[11] %>') },
                            ]
                        }
                    ]
                });
                chart.render();

            }
        </script>
        <script type="text/javascript">
            // Load google charts
            google.charts.load('current', { packages: ['corechart', 'bar'] });
            google.charts.setOnLoadCallback(drawBasic);

            function drawBasic() {

                var data = new google.visualization.DataTable();
                data.addColumn('timeofday', 'Months');
                data.addColumn('number', 'EUR');

                data.addRows([
                    [{ v: [1, 0, 0], f: 'January' }, parseInt('<%= monthNetArray[0] %>')],
                    [{ v: [2, 0, 0], f: 'February' }, parseInt('<%= monthNetArray[1] %>')],
                    [{ v: [3, 0, 0], f: 'March' }, parseInt('<%= monthNetArray[2] %>')],
                    [{ v: [4, 0, 0], f: 'April' }, parseInt('<%= monthNetArray[3] %>')],
                    [{ v: [5, 0, 0], f: 'May' }, parseInt('<%= monthNetArray[4] %>')],
                    [{ v: [6, 0, 0], f: 'June' }, parseInt('<%= monthNetArray[5] %>')],
                    [{ v: [7, 0, 0], f: 'July' }, parseInt('<%= monthNetArray[6] %>')],
                    [{ v: [8, 0, 0], f: 'August' }, parseInt('<%= monthNetArray[7] %>')],
                    [{ v: [9, 0, 0], f: 'September' }, parseInt('<%= monthNetArray[8] %>')],
                    [{ v: [10, 0, 0], f: 'October' }, parseInt('<%= monthNetArray[9] %>')],
                    [{ v: [11, 0, 0], f: 'November' }, parseInt('<%= monthNetArray[10] %>')],
                    [{ v: [12, 0, 0], f: 'December' }, parseInt('<%= monthNetArray[11] %>')],
                ]);

                var options = {
                    title: 'Value of sales without tax',
                    hAxis: {
                        textPosition: 'none'
                    },
                    vAxis: {
                        title: 'Value in EUR'
                    }
                };

                var chart = new google.visualization.ColumnChart(
                    document.getElementById('chart_div2'));

                chart.draw(data, options);
            }
        </script>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"> </script>
        <script src="vendors/jquery/dist/jquery.min.js"></script>
        <script src="vendors/popper.js/dist/umd/popper.min.js"></script>
        <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="dist/js/jquery.slimscroll.js"></script>
        <script src="dist/js/dropdown-bootstrap-extended.js"></script>
        <script src="dist/js/feather.min.js"></script>
        <script src="vendors/jquery-toggles/toggles.min.js"></script>
        <script src="dist/js/toggle-data.js"></script>
        <script src="vendors/waypoints/lib/jquery.waypoints.min.js"></script>
        <script src="vendors/jquery.counterup/jquery.counterup.min.js"></script>
        <script src="vendors/raphael/raphael.min.js"></script>
        <script src="vendors/morris.js/morris.min.js"></script>
        <script src="vendors/echarts/dist/echarts-en.min.js"></script>
        <script src="vendors/jquery.sparkline/dist/jquery.sparkline.min.js"></script>
        <script src="vendors/vectormap/jquery-jvectormap-2.0.3.min.js"></script>
        <script src="vendors/vectormap/jquery-jvectormap-world-mill-en.js"></script>
        <script src="dist/js/vectormap-data.js"></script>
        <script src="vendors/owl.carousel/dist/owl.carousel.min.js"></script>
        <script src="dist/js/init.js"></script>
        <script src="dist/js/dashboard-data.js"></script>
</body>

</html>