<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/invoiceCss.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Invoice</title>
</head>

<body>
    <div id="invoice">
        <div class="invoice overflow-auto">
            <div style="min-width: 600px">
                <header>
                    <div class="row">
                        <div class="col">
                            <h1><%= companyDetails.CompanyName %></h1>
                            <div class="col company-details">
                                <h2 class="name"><%= companyDetails.CompanyName %></h2>
                                <div><%= companyDetails.CompanyAddress.AddressDetail %></div>
                                <div><%= companyDetails.CompanyAddress.City %></div>
                                <div><%= companyDetails.CompanyAddress.PostalCode %></div>
                            </div>
                        </div>
                </header>
                <main>
                    <div class="row contacts">
                        <div class="col invoice-to">
                            <div class="text-gray-light">INVOICE TO:</div>
                            <h2 class="to"><%= invoiceinfoToPass.ShipTo.Address.AddressDetail %></h2>
                            <div class="address"><%= invoiceinfoToPass.ShipTo.Address.City%></div>
                            <div></div>
                        </div>
                        <div class="col invoice-details">
                            <h1 class="invoice-id">INVOICE: <%= invoiceinfoToPass.InvoiceNo %></h1>
                            <div class="date">Date of Invoice: <%= invoiceinfoToPass.InvoiceDate %></div>
                        </div>
                    </div>
                    <table border="0" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th class="text-left">DESCRIPTION</th>
                                <th class="text-right">UNIT PRICE</th>
                                <th class="text-right">QUANTITY</th>
                                <th class="text-right">TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                            <tr>
                            <% if(invoiceQuantityId == 0) { %>
                                <td class="no"><%= invoiceToPass.ProductCode %></td>
                                <td class="text-left">
                                    <h3><%= invoiceToPass.ProductDescription %></h3>
                                <td class="unit"><%= invoiceToPass.UnitPrice %>€</td>
                                <td class="qty"><%= invoiceToPass.Quantity %> <%= invoiceToPass.UnitOfMeasure %></td>
                                <td class="total"><%= invoiceToPass.CreditAmount %> €</td>
                            </tr>
                            <% } else { %>
                            <% for(var i = 0; i < invoiceQuantityId; i++){ %>
                            <tr>
                                <td class="no"><%= invoiceToPass[i].ProductCode %></td>
                                <td class="text-left">
                                    <h3><%= invoiceToPass[i].ProductDescription %></h3>
                                <td class="unit"><%= invoiceToPass[i].UnitPrice %> €</td>
                                <td class="qty"><%= invoiceToPass[i].Quantity %> <%= invoiceToPass[i].UnitOfMeasure %></td>
                                <td class="total"><%= invoiceToPass[i].CreditAmount %> €</td>
                            </tr>
                            <% } } %>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="2">SUBTOTAL</td>
                                <td><%= documentTotalToPass.NetTotal %> €</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="2">TAX</td>
                                <td><%= documentTotalToPass.TaxPayable %> €</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="2">GRAND TOTAL</td>
                                <td><%= documentTotalToPass.GrossTotal %> €</td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="thanks">Thank you!</div>
                </main>
                <footer>
                </footer>
            </div>
            <div></div>
        </div>
    </div>
</body>

</html>